body {
    background: url('https://padhai.s3.ap-south-1.amazonaws.com/yash.jpg') !important;
  }
   
  #masthead,
  #primary {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: #fff;
    padding: 20px !important;
  }
  #masthead {
    background: none;
  }
  #masthead img, #primary img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }